#copy <a href="https://twitter.com/igcorreia" target="_blank">Crafted by: <b>@igcorreia</b><br/>Searching for a Dribbble invite :)</a>
.mask
  .modal
    .circle(style='background: url("http://www.tzaraerospace.com/wp-content/uploads/2017/07/tzar-logo-final_60.png")')
    .login
      h1 Login
      form(method="post")
        input(type="text",name="u",placeholder="Username",required="required")
        input(type="password",name="p",placeholder="Password",required="required")
        button(type="submit",class="btn btn-primary btn-block btn-large") Let me in.
      
- for (var x = 0; x < 10; x++)
  .vertical(class='vertical'+x)
    - var image = 0
    - for (var y = 0; y < 6; y++)
      .horizontal(style='background: url("http://www.tzaraerospace.com/wp-content/uploads/2017/07/1-1.jpg")',
      class='horizontal'+x+y+0)
      .horizontal(style='background: url("http://www.tzaraerospace.com/wp-content/uploads/2017/07/2.jpg")',
      class='horizontal'+x+y+1)
      .horizontal(style='background: url("http://www.tzaraerospace.com/wp-content/uploads/2017/07/3.jpg")',
      class='horizontal'+x+y+2)
      .horizontal(style='background: url("http://www.tzaraerospace.com/wp-content/uploads/2017/07/4.jpg")',
      class='horizontal'+x+y+3)
      .horizontal(style='background: url("http://www.tzaraerospace.com/wp-content/uploads/2017/07/5.jpg")',
      class='horizontal'+x+y+4)
      .horizontal(style='background: url("http://www.tzaraerospace.com/wp-content/uploads/2017/07/9.jpg")',
      class='horizontal'+x+y+5)
      .horizontal(style='background: url("http://www.tzaraerospace.com/wp-content/uploads/2017/07/6.jpg")',
      class='horizontal'+x+y+6)
      .horizontal(style='background: url("http://www.tzaraerospace.com/wp-content/uploads/2017/07/7.jpg")',
      class='horizontal'+x+y+7)
      .horizontal(style='background: url("http://www.tzaraerospace.com/wp-content/uploads/2017/07/8.jpg")',
      class='horizontal'+x+y+8)
      